/*#D6A99D*/
/*#FBF3D5*/
/*#D6DAC8*/
/*#9WAFAA*/

.list-item {
    background-color: #D6A99D;
    height: 30vh;
    aspect-ratio: 7/10;
    border-radius: 10px;
    border: 1vh solid #D6DAC8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0.2rem;
}

.list-item > :nth-child(1) { flex: 1 1 0; }
.list-item > :nth-child(2) { flex: 2 1 0; }
.list-item > :nth-child(3) { flex: 2 1 0; }

.list-item-first-row{
    background-color: red;
    height: auto;
    aspect-ratio: auto;
}

.list-item-second-row{
    background-color: blue;
    height: auto;
    aspect-ratio: auto;
}
.list-item-third-row{
    background-color: green;
    height: auto;
    aspect-ratio: auto;
}
