.image-wrap::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1; /* keep it behind the app */
    background: url("../../assets/Images/bg-img-2.png") center / contain no-repeat;
    animation: spin-bg 40s linear infinite;
    opacity: 0.2; /* adjust for readability */
}


.image-wrap {
    position: fixed;          /* or absolute within a positioned parent */
    top: 50%;
    left: 80vw;           /* 1/3 of the viewport width */
    transform: translate(-50%, -50%); /* center the element itself */
    /* optional sizing */
    width: 100em;
    height: 1000px;
    /*background-color: red;*/
    z-index: -1;

}
.image-wrap img {
    width: 100%;
    height: 100%;
    object-fit: none;
    /*box-shadow: 0 0 1vw 10px rgba(255, 255, 255, 1);*/
}

@keyframes spin-bg {
    from { transform: rotate(0deg) scale(1.1); }
    to   { transform: rotate(360deg) scale(1.1); }
}