
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    justify-content: center;

}

header {
    position: fixed;
    background-color:var(--color-surface);
    top: 0;
    left: 0;
    right: 0;
    width: 98%;
    z-index: 1000;
    margin: 0 auto;
    padding: 0;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--color-accent);
    height: 4.3rem;
    font-size: 1rem;
    border-radius: 2dvw;
    box-shadow: 0 0 1vw 0 rgba(0, 0, 0, 0.3);
}

.right-section {
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 0 1vw 0 rgba(0, 0, 0, 0.3);
}

