:root{
    --color-bg: #FBF3D5;
    --color-surface: #D6DAC8;
    --color-accent: #9CAFAA;
    --color-primary: #D6A99D;
    --color-text: #1f2937;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}
body {
    background: var(--color-surface);
    padding: 0 16px;
}

header {
    background-color: #FBF3D5;
    margin: auto -16px;
    padding: 16px 32px;
    /*box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);*/
}
